*{
      box-sizing: border-box;
    }

    body {
      font-family: 'Space Mono', monospace;
    }

    .row {
      display: flex;
      justify-content: space-between; 
    }

    .row-center {
      display: flex;
      justify-content: center; 
    }

    .mb {
      margin-bottom: 10px;
    }

    .centered {
      text-align: center;
    }

    .button {
      color: teal;
      border: 1px teal solid;
      border-radius: 5px;
      text-decoration: none;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .player-card {
      border: thin green solid;
      width: 49%;
    }

    .computer-card {
      border: thin red solid;
      width: 49%;
    }

    .outcome-card {
      border: thin red solid;
      background-color: pink;
      width: 66%;

    }

    .one-third {
      width: 32%;
    }